.banner {
    background-image: url('./Pictures/ChristmasTree.jpg');
    display: flex;
    height: 175px;
    align-items: center;
    justify-content: center;
}

.title {
    color: #9BA694;
    font-size: 70px;
    text-shadow: 5px 2px 5px black;
}

.home-container {
    height:100vh;
    background-color: #F5F1E3;
}

.name-container {
    background-color: #F5F1E3;
}

.unordered-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    list-style-type: none;
    padding: 25px;
    margin: 0;
}

@media (max-width: 768px) {
    .unordered-list {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px; 
    }
}

.list-item {
    height: 75px;
    width: auto;
    overflow: hidden;
    cursor: pointer;
    background-color: #274235;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;
}


.name-decoration {
    cursor: pointer;
    font-size: 40px;
    font-weight:900;
    color:#F5F1E3;
    display: inline-block;
    /* text-transform: uppercase; */
    font-weight: bold;
}

@media (max-width: 768px) {
    .name-decoration {
        font-size: 30px; /* Reduce font size for smaller screens */
    }
}

/* Media query for screens smaller than 480px (smaller mobile devices) */
@media (max-width: 480px) {
    .name-decoration {
        font-size: 20px; /* Further reduce font size for very small screens */
    }
}

.name-decoration:hover {
    color: transparent;
    background-position: right;
    background: url('./Pictures/Glitter.jpeg') no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
}